@page
@model Hospital_Management_System_WEB.Pages.Employee.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Insert new Employee</h1>

<h4>Employees</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmployeeDTO.FirstName" class="control-label"></label>
                <input asp-for="EmployeeDTO.FirstName" class="form-control" />
                <span asp-validation-for="EmployeeDTO.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeDTO.LastName" class="control-label"></label>
                <input asp-for="EmployeeDTO.LastName" class="form-control" />
                <span asp-validation-for="EmployeeDTO.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeDTO.Password" class="control-label"></label>
                <input asp-for="EmployeeDTO.Password" class="form-control" />
                <span asp-validation-for="EmployeeDTO.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeDTO.Email" class="control-label"></label>
                <input asp-for="EmployeeDTO.Email" class="form-control" />
                <span asp-validation-for="EmployeeDTO.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeDTO.Mobile" class="control-label"></label>
                <input asp-for="EmployeeDTO.Mobile" class="form-control" />
                <span asp-validation-for="EmployeeDTO.Mobile" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EmployeeDTO.ActiveIs" /> @Html.DisplayNameFor(model => model.EmployeeDTO.ActiveIs)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Insert new Employee" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Employee">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
